.App {
  text-align: center;
}

body {
  background: url('https://wallpaperplay.com/walls/full/c/6/4/17373.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100vw;
  height: 100%;
}
